{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>500 Error Page</title>
  <link rel="stylesheet" media="all" href="{% static 'students/css/error.css' %}">
</head>
<body>
<div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>500</div>
            <hr>
            <div class='_1'>Opps! Internal Server Error!</div>
            <div class='_2'>Unfortunately we're having trouble loading the page you are looking for. Please come back in a while</div>
        </div>
</body>
</html>