{% extends "base.html" %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        ul {list-style: none;}
    </style>
{% endblock %}
{% block content %}
    <h1>Student List</h1>
    <ul>
        {% for student in students %}
        <li>
            {{ student.id|safe }}. {{ student.first_name|safe }} {{ student.last_name|safe }}, age {{student.age|safe }}, phone {{ student.phone|safe }}, {{ student.in_group.id }}, {{ student.in_group.group_name }}
            <a href="{% url 'edit-student' student.id %}">Edit</a>
            <a href="{% url 'delete-student' student.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}