{% extends "base.html" %}
{% block head %}
    <title>All Teachers</title>
    {{ block.super }}
{% endblock %}
{% block content %}
    <table>
        <th>ID</th>
        <th>Subject</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Edit data</th>
        <th>Delete from base</th>
        {% for teacher in teacher_list %}
            <tr>
                <td>{{ teacher.id|safe }}</td>
                <td>{{ teacher.subject }}</td>
                <td>{{ teacher.first_name|safe }}</td>
                <td>{{ teacher.last_name|safe }}</td>
                <td>{{ teacher.age|safe }}</td>
                <td><a href="{% url 'edit-teacher' teacher.id %}">Edit</a></td>
                <td><a href="{% url 'delete-teacher' teacher.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}