{% extends "base.html" %}
{% block head %}
    {{ block.super }}
    <title>Exchange list</title>

{% endblock %}
{% block content %}
    <table>
        <th>Exchange date</th>
        <th>Currency</th>
        <th>Source</th>
        <th>Buy price</th>
        <th>Sell price</th>
        {% for currency in exchange_list %}
            <tr>
                <td>{{ currency.created_at|date:'d.m.Y - H:m:s'}}</td>
                <td>{{ currency.currency|safe }}</td>
                <td>{{ currency.source|safe }}</td>
                <td>{{ currency.buy_price|safe }}</td>
                <td>{{ currency.sell_price|safe }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}